<table style="width:100%; margin-top: 35px">
    <thead>
        <th>USERNAME</th>
        <th>ROLE</th>
        <th>SALARY</th>    
    <tbody >
        <tr *ngFor = "let employee of employees">
          <td>{{employee.username}}</td>
          <td>{{employee.roleName}}</td>
          <td>{{employee.salary}}</td>
          <td>
            <button (click) = "deleteEmployee(employee.id)" class = "btn btn-outline-primary"> Delete</button>
            <button (click) = "employeeDetails(employee.id)"  class = "btn btn-outline-primary" style="margin-left: 10px"> View</button>
          </td>
        </tr>

    </tbody>
</table>