<h2> users's List</h2>
<table class="table table-striped">
    <thead>
        <th>username</th>
        <th>role</th>
        <th>salary</th>
        <th> Actions</th>
    <tbody>
        <tr *ngFor = "let employee of employees">
          <td>{{employee.username}}</td>
          <td>{{employee.roleName}}</td>
          <td>{{employee.salary}}</td>
          <td>
            <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger"> Delete</button>
            <button (click) = "employeeDetails(employee.id)"  class = "btn btn-info" style="margin-left: 10px"> View</button>
          </td>
        </tr>

    </tbody>
</table>